{{outlet}}


<div class="jumbotron">
  <h1>About Quotrz</h1>
  <p class="lead">The purpose I created Quotrz is to learn the basics of Ember JS and Handlebars. I hope that through this app I can get a better understanding of both of those technologies.</p>
</div>